%center
  .progress-section
    %h3 
      Progreso
      %span.job-progress
        0%
    .progress
      .progress-bar.progress-bar-success.progress-bar-striped{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "40", :role => "progres    sbar", :style => "width:0%"}

  .download-section.hidden
    %h3
      Descargar Archivo

    = link_to 'View csv', Exporter.last.file.url, class: 'btn btn-success'

:javascript
  $(document).on('turbolinks:load', function(){
    var interval = setInterval(function(){
      $.get("/api/v1/async_jobs/#{@job_id}")
      .done(function(job){
        var progress = parseInt((job.progress * 100) / job.total);
        $('.job-progress').html(progress + '%');
        $('.progress-bar').css('width', progress + '%');
      })
      .fail(clean)
    }, 1000);

    function clean() {
      clearInterval(interval);
      $('.progress-section').addClass('hidden');
      $('.download-section').removeClass('hidden');
    }
  });
      
