%h1 Listing products
= link_to "export excel", products_path(format: :xlsx)
/%button{onclick: "downloadFile('#{export_products_path}.xlsx');"}
/Descargar
%table
  %thead
    %tr
      %th Id
      %th Name
      %th Description
      %th Price
      %th Quantity
      %th Rate
      %th Percentage
      %th total
      %th otro
      %th
      %th
      %th

  %tbody
    - @products.each do |product|
      %tr
        %td= product.id
        %td= product.name
        %td= product.description
        %td= product.price
        %td= product.quantity
        %td= product.rate
        %td= product.percentage
        %td= product.total
        %td= product.otro
        %td= link_to 'Show', product
        %td= link_to 'Edit', edit_product_path(product)
        %td= link_to 'Destroy', product, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Product', new_product_path

:javascript

   function downloadFile(urlToSend) {
        var req = new XMLHttpRequest();
             req.open("GET", urlToSend, true);
                  req.responseType = "blob";
                       req.onload = function (event) {
                                var blob = req.response;
                                         var fileName = req.getResponseHeader("fileName") //if you have the fileName header available
                                                  var link=document.createElement('a');
                                                           link.href=window.URL.createObjectURL(blob);
                                                                    link.download=fileName;
                                                                             link.click();
                                                                                  };

                                                                                       req.send();
                                                                                        }
